/*h1{
			color: red;
			font-size: 50px;
			text-align: center;
		}
.container>div{
	height: 300px;
	width: 300px;
}
.row>div{
	height: 300px;
	width: 300px;
}*/
/*sweetalert*/
body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
}